.mainPanelContainer {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.switchContainer {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.switchContainer span {
  text-transform: uppercase;
}
